{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Data 410</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% tailwind_css %}
    </head>

    <body class="leading-normal tracking-normal" data-theme="light">
        <main class="min-h-screen">
            {% block content %}
            {% endblock %}
        </main>
        <script src="{% static 'core/js/main.js' %}"></script>
        {% block extra_js %}
        {% endblock %}
    </body>
</html>
