asgiref==3.8.1
dj-database-url==2.3.0
Django==5.1.4
django-admin-sortable2==2.2.4
django-browser-reload==1.17.0
django-js-asset==3.0.1
django-prose-editor==0.10.2
django-redis==5.4.0
django-tailwind==3.8.0
django-unfold==0.43.0
Markdown==3.7
nh3==0.2.20
pillow==11.0.0
psycopg2==2.9.10
redis==5.2.1
sqlparse==0.5.3
typing_extensions==4.12.2
uuid==1.30
whitenoise==6.8.2
