<div id="search-results"
     class="mt-14 w-full max-w-lg p-4 bg-base-300 shadow-md rounded-lg absolute {% if empty_search %}hidden{% endif %}">
    <ul class="space-y-2">
        {% for service in services %}
            <li>
                <a href="{{ service.get_absolute_url }}" class="inline-block w-full hover:bg-base-200 p-2 rounded-lg transition-colors">{{ service.name }}</a>
            </li>
        {% empty %}
            <li class="text-gray-500">No results found</li>
        {% endfor %}
    </ul>
</div>