@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
html {
    @apply scroll-smooth;
}

/* Typography */

@layer base {
    @font-face {
        font-family: 'InterVariable';
        font-style: normal;
        font-display: swap;
        src: url(/static/core/webfonts/InterVariable.woff2) format('opentype');
    }
    @font-face {
        font-family: 'InterVariable';
        font-style: italic;
        font-display: swap;
        src: url(/static/core/webfonts/InterVariable-Italic.woff2) format('opentype');
    }
}

hr {
   margin: 1.5rem 0;
}

/* Logo */
[data-theme="lofi"] .theme-logo {
    filter: invert(0); /* Light logo */
}

[data-theme="black"] .theme-logo {
    filter: invert(1); /* Inverted for dark theme */
}

/* Animations */

@keyframes rise {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-30vh);
        opacity: 0;
    }
}

#floating-squares div {
    animation: rise 8s linear infinite;
}

/* Style fixes */
.mockup-browser-toolbar.no-controls::before {
    display: none;
}

