{% extends "theme/base.html" %}
{% load i18n %}

{% block title %}{{ service.name }}{% endblock %}
{% block og_title %}{{ service.name }}{% endblock %}
{% block twitter_title %}{{ service.name }}{% endblock %}


{% block content %}
    <div class="container mx-auto p-0 mb-40 sm:p-6">
        <!-- Unified Browser Mockup -->
        <div class="mockup-browser bg-base-300 border">
            <!-- Browser Toolbar -->
            <div class="mockup-browser-toolbar">
                <div class="input">
                    {{ service.website|default:"https://example.com" }}
                </div>
                <small class="text-gray-500 hidden md:inline">
                    {% trans "Last update" %} {{ service.updated_at.date }}
                </small>
            </div>

            <!-- Content -->
            <div class="bg-base-200 p-6">
                <small class="text-gray-500 md:hidden inline-block text-center w-full mb-6">
                    {% trans "Last update" %} {{ service.updated_at.date }}
                </small>
                <!-- Header Section -->
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 items-center">
                    <!-- Service Logo -->
                    {% if service.image %}
                        <div class="flex justify-center">
                            <img
                              src="{{ service.image.url }}"
                              alt="{{ service.name }} logo"
                              class="rounded-lg w-48 h-48 object-contain"
                            />
                        </div>
                    {% elif service.icon_class %}
                        <div class="flex justify-center">
                            <i class="{{ service.icon_class }} text-9xl"></i>
                        </div>
                    {% endif %}

                    <!-- Service Info and Rating -->
                    <div class="flex flex-wrap md:flex-col items-center md:items-start gap-3">
                        <h1 class="text-4xl font-bold">{{ service.name }}</h1>

                        <!-- Rating -->
                        <div class="flex items-center space-x-2">
                            <div class="rating">
                                {% for i in rating_range %}
                                    <input
                                      type="radio"
                                      name="rating"
                                      class="mask mask-star-2"
                                      disabled
                                      {% if service.rating and service.rating >= i and service.rating < i|add:1 %}checked{% endif %}
                                    />
                                {% endfor %}
                            </div>
                            {% comment %}
                            <span class="text-lg">({{ service.rating|default:"N/A" }})</span>
                            {% endcomment %}
                        </div>

                        <!-- Visit Button -->
                        {% if service.website %}
                            <a
                              href="{{ service.website }}"
                              target="_blank"
                              class="btn btn-accent btn-sm"
                            >
                                Visit Website
                            </a>
                        {% endif %}
                    </div>

                    <!-- Important URLs -->
                    {% if service.urls.exists %}
                        <div>
                            <h2 class="text-xl md:text-2xl font-semibold mb-4">{% trans "Quick Links" %}</h2>
                            <ul class="space-y-2 text-sm">
                                {% for url in service.urls.all %}
                                    <li>
                                        <a
                                          href="{{ url.url }}"
                                          target="_blank"
                                          class="link"
                                        >
                                            {{ url.url_type }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>

                <!-- Service Information Section -->
                <div class="mt-12">

                    <!-- Infos Without Categories -->
                    {% if uncategorized_service_infos %}
                        {% for info in uncategorized_service_infos %}
                            <div class="card shadow-md bg-base-100 p-6 mb-4">
                                <h3 class="text-2xl font-bold">
                                    {% if info.type.icon_class %}
                                        <i class="{{ info.type.icon_class }}"></i>&nbsp;
                                    {% endif %}
                                    {{ info.type.name }}
                                </h3>
                                {% if info.description %}
                                    <div class="mt-2">{{ info.description|safe }}</div>
                                {% endif %}
                                {% if info.points.exists %}
                                    <ul class="list-disc ml-6 mt-4 space-y-2">
                                        {% for point in info.points.all %}
                                            <li>{{ point.text }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endif %}

                    <!-- Infos With Categories -->
                    {% regroup categorized_service_infos by category as grouped_infos %}
                    {% if grouped_infos %}
                        <div role="tablist" class="tabs tabs-boxed tabs-lg">
                            {% for group in grouped_infos|dictsort:"grouper.order" %}
                                <input
                                  type="radio"
                                  name="categorized_tabs"
                                  role="tab"
                                  class="tab"
                                  aria-label="{{ group.grouper.name }}"
                                  {% if forloop.first %}checked="checked"{% endif %}
                                />
                                <div
                                  role="tabpanel"
                                  class="tab-content bg-base-100 border-base-300 rounded-box p-0 sm:p-6"
                                >
                                    {% for info in group.list %}
                                        <div class="card shadow-md bg-base-100 p-6 mb-4">
                                            <h3 class="text-2xl font-bold">
                                                {% if info.type.icon_class %}
                                                    <i class="{{ info.type.icon_class }}"></i>&nbsp;
                                                {% endif %}
                                                {{ info.type.name }}
                                            </h3>
                                            {% if info.description %}
                                                <div class="mt-2 font-bold">{{ info.description|safe }}</div>
                                            {% endif %}
                                            {% if info.points.exists %}
                                                <ul class="list-disc ml-6 mt-4 space-y-2">
                                                    {% for point in info.points.all %}
                                                        <li>{{ point.text }}</li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
